body {
  background-color: black;
}
#wrapper {
  width: 1120px;
  height: 600px;
  margin: 50px ;
  background-image: url("pics/background.png");
  background-color: blue;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#introduction {
  width: 1000px;
  height: 500px;
  position: absolute;
  margin: 100px auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#icon {
  background-image: url("pics/icon.png");
  width: 250px;
  height: 250px;
  background-size: cover;
}
#modalInstruction {
  width: 1000px;
  height: 500px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: none;
  flex-direction: column;
}
#table {
  position: absolute;
  display: none;
  grid-template-columns: 100px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 100px;
  grid-template-rows: 50px 240px 240px 50px;
}
#panelTop {
  grid-column: 2 / span 13;
  grid-row: 1 / span 1;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#panelRight {
  grid-column: 15 / span 1;
  grid-row: 1 / span 4;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#panelBottom {
  grid-column: 2 / span 13;
  grid-row: 4 / span 1;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#panelLeft {
  grid-column: 1 / span 1;
  grid-row: 1 / span 4;
}
#point0 {
  grid-column: 14 / span 1;
  grid-row: 3 / span 1;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}
#point1 {
  grid-column: 13 / span 1;
  grid-row: 3 / span 1;
  border-bottom: 5px solid black;
}
#point2 {
  grid-column: 12 / span 1;
  grid-row: 3 / span 1;
  border-bottom: 5px solid black;
}
#point3 {
  grid-column: 11 / span 1;
  grid-row: 3 / span 1;
  border-bottom: 5px solid black;
}
#point4 {
  grid-column: 10 / span 1;
  grid-row: 3 / span 1;
  border-bottom: 5px solid black;
}
#point5 {
  grid-column: 9 / span 1;
  grid-row: 3 / span 1;
  border-bottom: 5px solid black;
}
#point6 {
  grid-column: 7 / span 1;
  grid-row: 3 / span 1;
  border-bottom: 5px solid black;
}
#point7 {
  grid-column: 6 / span 1;
  grid-row: 3 / span 1;
  border-bottom: 5px solid black;
}
#point8 {
  grid-column: 5 / span 1;
  grid-row: 3 / span 1;
  border-bottom: 5px solid black;
}
#point9 {
  grid-column: 4 / span 1;
  grid-row: 3 / span 1;
  border-bottom: 5px solid black;
}
#point10 {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
  border-bottom: 5px solid black;
}
#point11 {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  border-bottom: 5px solid black;
  border-left: 5px solid black;
}
#point12 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  border-top: 5px solid black;
  border-left: 5px solid black;
}
#point13 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  border-top: 5px solid black;
}
#point14 {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
  border-top: 5px solid black;
}
#point15 {
  grid-column: 5 / span 1;
  grid-row: 2 / span 1;
  border-top: 5px solid black;
}
#point16 {
  grid-column: 6 / span 1;
  grid-row: 2 / span 1;
  border-top: 5px solid black;
}
#point17 {
  grid-column: 7 / span 1;
  grid-row: 2 / span 1;
  border-top: 5px solid black;
}
#point18 {
  grid-column: 9 / span 1;
  grid-row: 2 / span 1;
  border-top: 5px solid black;
}
#point19 {
  grid-column: 10 / span 1;
  grid-row: 2 / span 1;
  border-top: 5px solid black;
}
#point20 {
  grid-column: 11 / span 1;
  grid-row: 2 / span 1;
  border-top: 5px solid black;
}
#point21 {
  grid-column: 12 / span 1;
  grid-row: 2 / span 1;
  border-top: 5px solid black;
}
#point22 {
  grid-column: 13 / span 1;
  grid-row: 2 / span 1;
  border-top: 5px solid black;
}
#point23 {
  grid-column: 14 / span 1;
  grid-row: 2 / span 1;
  border-top: 5px solid black;
  border-right: 5px solid black;
}
#bar {
  grid-column: 8 / span 1;
  grid-row: 2 / span 2;
  display: flex;
  align-items: center;
  background-color: #ff5d22;
  border: 5px solid black;
}
/* #roll {
  width: 70px;
  height: 70px;
  font-size: 20px;
  border-radius: 50%;
} */
.point {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.upsideDownPoint {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.triangle {
	width: 0;
	height: 0;
  position: absolute;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-bottom: 200px solid #ff5d22;
}
.upsideDownTriangle {
	width: 0;
	height: 0;
  position: absolute;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-top: 200px solid #ff5d22;
}
.checkerLight {
	width: 40px;
	height: 40px;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  flex-shrink: 1;
  z-index: 1;
}
.checkerDark {
	width: 40px;
	height: 40px;
  background-color: black;
  border: 2px solid white;
  border-radius: 50%;
  flex-shrink: 1;
  z-index: 1;
}
.instruction {
  font-size: 350px;
}
.counter {
  width: 70px;
	height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
